body {
  display: flex;
  flex-direction: row;
  margin: 0px;
}
#menu{
  z-index: 3;
}
#menu_button {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 0px;
    top: 0px;
    margin: 10px;
}
#menu_content {
  display: none;
  width: 15vw;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: gray;
  border-right: 1px solid black;
  padding-top: 10px;
}

#main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: lightslategrey ;
  height: 100vh;
  width: 100%;
}
#video_cover {
    height: 100vh;
    width: 100vw;
    z-index: 2;
    position:absolute;
}

.blocks {
  margin: 0.5%;
  background-color: slategrey;
  width: auto;
  height: 47.5%;
  position: relative;
  align-items: center;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 96%;
  margin: 1%;
}
